.task {
  background: var(--gray-400);
  border-radius: 8px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background 0.3s ease;  
}

.description {
  display: flex;
  gap: 16px;
}

.description input {
  display: none;
}

.description .checkmark {
  width: 15px;
  height: 15px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

.description input:checked + .checkmark::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task:hover {
  background: var(--gray-300);
}

.task svg:hover {
  color: var(--danger);
}